.scroll{
	overflow:auto;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    
	}

   .ui-tooltip {
  padding: 8px;
  position: absolute;
  z-index: 9999;
    max-width: 300px;
    border:0px;
    background-color:black;
    background-color:rgba(0,0,0,0.7);
    border:1px solid rgb(0,0,0);
    color:white;
    border-radius:3px;
    box-shadow:0px 0px 5px rgba(30,30,30,0.2);

 }
