#body{}

.box_of_pop{width:400px;
            margin-left:300px;
 }

.body_of_forgot_page{
	padding-top:10px;
}

.heading_of_forgot_page{
	font-size:13px;
	margin-bottom:10px;
	font-weight:bold;
}

#next{width:70%;
     margin-left:15%;
     margin-top:30px;
 }


